body{
	

 background: url('https://cdn.pixabay.com/photo/2018/03/01/14/48/woman-3190829_1280.jpg') no-repeat top center,
 				 url('https://yt3.ggpht.com/a/AATXAJwYj3sWl21g2-9itBtvvhLmNr68yqzhpnQJFQUgtg=s176-c-k-c0x00ffffff-no-rj') no-repeat right bottom fixed;
}

	
h1{text-align: center;
color: #ffff00;
}
p{
	color: 
}